In [1]:
import pandas as pd
import numpy as np

In [2]:
N = 280 
rng = np.random.default_rng()

Machine = pd.DataFrame({"Years in Production": rng.integers(0,10, size=10), "Batches Produced": rng.integers(0, 18, size =10),})

In [3]:
Machine ["Units Planned"] = Machine ['Batches Produced'] * N

In [4]:
Machine.loc[Machine['Years in Production'] >= 3, 'Scrap Rate'] = 0.5 #https://datatofish.com/if-condition-in-pandas-dataframe/
Machine.loc[Machine['Years in Production'] < 3, 'Scrap Rate'] = 0.02 #https://www.w3schools.com/python/python_conditions.asp

In [5]:
Machine ['Scrap Produced'] = Machine ["Units Planned"] * Machine ["Scrap Rate"]

In [6]:
Machine ['Units Shipped'] = Machine["Units Planned"] - Machine["Scrap Produced"]

In [7]:
Machine ['Percentage Yield'] = Machine ["Units Shipped"] / Machine ["Units Planned"]

In [8]:
Machine.loc[Machine['Percentage Yield'] >= (31/100), 'Process Classification'] = "1 Sigma"
Machine.loc[Machine['Percentage Yield'] >= 0.69, 'Process Classification'] = "2 Sigma"
Machine.loc[Machine['Percentage Yield'] >= 0.9333, 'Process Classification'] = "3 Sigma"
Machine.loc[Machine['Percentage Yield'] >= 0.9938, 'Process Classification'] = "4 Sigma"
Machine.loc[Machine['Percentage Yield'] >= 0.9997, 'Process Classification'] = "5 Sigma"
Machine.loc[Machine['Percentage Yield'] >= 0.9996, 'Process Classification'] = "6 Sigma"

In [9]:
Machine

,Years in Production,Batches Produced,Units Planned,Scrap Rate,Scrap Produced,Units Shipped,Percentage Yield,Process Classification
0,1,14,3920,0.02,78.4,3841.6,0.98,3 Sigma
1,3,14,3920,0.50,1960.0,1960.0,0.50,1 Sigma
2,1,2,560,0.02,11.2,548.8,0.98,3 Sigma
3,8,9,2520,0.50,1260.0,1260.0,0.50,1 Sigma
4,5,5,1400,0.50,700.0,700.0,0.50,1 Sigma
5,0,0,0,0.02,0.0,0.0,NaN,NaN
6,1,17,4760,0.02,95.2,4664.8,0.98,3 Sigma
7,9,15,4200,0.50,2100.0,2100.0,0.50,1 Sigma
8,7,9,2520,0.50,1260.0,1260.0,0.50,1 Sigma
9,4,17,4760,0.50,2380.0,2380.0,0.50,1 Sigma

#### End